---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}
{% assign group_index = 0 %}

{% assign path_parts = '' | split: '' %}
{% assign depth = 0 %}
{% assign top_children = '' | split: '' %}

{% for post in site.posts %}
  {% unless post.hidden %}
    {% if post.categories.size > depth %}
      {% assign child_name = post.categories[depth] %}
      {% unless top_children contains child_name %}
        {% assign top_children = top_children | push: child_name %}
      {% endunless %}
    {% endif %}
  {% endunless %}
{% endfor %}

{% assign top_child_entries = '' | split: '' %}
{% for child in top_children %}
  {% assign configured_order = site.data.category_order[child] %}
  {% assign sort_order = configured_order | default: 999999 | plus: 1000000 %}
  {% capture top_child_entry %}{{ sort_order }}|||{{ child }}{% endcapture %}
  {% assign top_child_entries = top_child_entries | push: top_child_entry %}
{% endfor %}

{% assign top_child_entries = top_child_entries | sort %}
{% assign top_children = '' | split: '' %}
{% for top_child_entry in top_child_entries %}
  {% assign top_child_parts = top_child_entry | split: '|||' %}
  {% assign top_child_name = top_child_parts | last %}
  {% assign top_children = top_children | push: top_child_name %}
{% endfor %}

{% for child in top_children %}
  {% capture child_path %}{{ child }}{% endcapture %}
  {% assign child_path_parts = child_path | split: '|' %}
  {% assign child_depth = child_path_parts | size %}

  {% assign sub_children = '' | split: '' %}
  {% assign subtree_count = 0 %}

  {% for post in site.posts %}
    {% unless post.hidden %}
      {% if post.categories.size >= child_depth %}
        {% assign path_match = true %}
        {% for part in child_path_parts %}
          {% assign idx = forloop.index0 %}
          {% if post.categories[idx] != part %}
            {% assign path_match = false %}
          {% endif %}
        {% endfor %}

        {% if path_match %}
          {% assign subtree_count = subtree_count | plus: 1 %}

          {% if post.categories.size > child_depth %}
            {% assign sub_name = post.categories[child_depth] %}
            {% unless sub_children contains sub_name %}
              {% assign sub_children = sub_children | push: sub_name %}
            {% endunless %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endunless %}
  {% endfor %}

  {% assign sub_child_entries = '' | split: '' %}
  {% for sub_child in sub_children %}
    {% capture sub_child_path %}{{ child_path }}|{{ sub_child }}{% endcapture %}
    {% assign configured_order = site.data.category_order[sub_child_path] %}
    {% assign sort_order = configured_order | default: 999999 | plus: 1000000 %}
    {% capture sub_child_entry %}{{ sort_order }}|||{{ sub_child }}{% endcapture %}
    {% assign sub_child_entries = sub_child_entries | push: sub_child_entry %}
  {% endfor %}

  {% assign sub_child_entries = sub_child_entries | sort %}
  {% assign sub_children = '' | split: '' %}
  {% for sub_child_entry in sub_child_entries %}
    {% assign sub_child_parts = sub_child_entry | split: '|||' %}
    {% assign sub_child_name = sub_child_parts | last %}
    {% assign sub_children = sub_children | push: sub_child_name %}
  {% endfor %}
  {% assign sub_children_size = sub_children | size %}

  {% assign direct_at_top = 0 %}
  {% for post in site.posts %}
    {% unless post.hidden %}
      {% if post.categories.size == child_depth and post.categories[0] == child %}
        {% assign direct_at_top = direct_at_top | plus: 1 %}
      {% endif %}
    {% endunless %}
  {% endfor %}

  {% assign has_tree_content = false %}
  {% if sub_children_size > 0 or direct_at_top > 0 %}
    {% assign has_tree_content = true %}
  {% endif %}

  <div class="card categories">
    <div
      id="{{ HEAD_PREFIX }}{{ group_index }}"
      class="card-header d-flex justify-content-between hide-border-bottom"
    >
      <span class="ms-2">
        <i class="far fa-folder{% if has_tree_content %}-open{% endif %} fa-fw"></i>

        {% capture _category_url %}/categories/{{ child | slugify | url_encode }}/{% endcapture %}
        <a href="{{ _category_url | relative_url }}" class="mx-2">{{ child }}</a>

        <span class="text-muted small font-weight-light">
          {% if sub_children_size > 0 %}
            {{ sub_children_size }}
            {% if sub_children_size > 1 %}
              {{
                site.data.locales[lang].categories.category_measure.plural
                | default: site.data.locales[lang].categories.category_measure
              }}
            {% else %}
              {{
                site.data.locales[lang].categories.category_measure.singular
                | default: site.data.locales[lang].categories.category_measure
              }}
            {% endif -%}
            ,
          {% endif %}

          {{ subtree_count }}

          {% if subtree_count > 1 %}
            {{
              site.data.locales[lang].categories.post_measure.plural
              | default: site.data.locales[lang].categories.post_measure
            }}
          {% else %}
            {{
              site.data.locales[lang].categories.post_measure.singular
              | default: site.data.locales[lang].categories.post_measure
            }}
          {% endif %}
        </span>
      </span>

      {% if has_tree_content %}
        <a
          href="#{{ LIST_PREFIX }}{{ group_index }}"
          data-bs-toggle="collapse"
          aria-expanded="true"
          aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
          class="category-trigger hide-border-bottom"
        >
          <i class="fas fa-fw fa-angle-down"></i>
        </a>
      {% else %}
        <span data-bs-toggle="collapse" class="category-trigger hide-border-bottom disabled">
          <i class="fas fa-fw fa-angle-right"></i>
        </span>
      {% endif %}
    </div>

    {% if has_tree_content %}
      <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
        {% include category-tree-node.html parent_path=child_path mode='categories' %}
      </div>
    {% endif %}
  </div>

  {% assign group_index = group_index | plus: 1 %}
{% endfor %}
