---
layout: default
---

{% include lang.html %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  <article class="px-1">
    {% if content != empty %}
      <div class="content mb-4">{{ content }}</div>
    {% endif %}

    <h2 class="mb-3">分类目录</h2>
    {% include category-tree-node.html parent_path='' mode='home' %}

    <h2 class="mb-3 mt-4">最近文章</h2>
    <ul class="ps-4">
      {% for post in site.posts limit: 10 %}
        {% unless post.hidden %}
          <li class="mb-2 d-flex justify-content-between flex-wrap gap-2">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="text-muted small text-nowrap">
              {% include datetime.html date=post.date lang=lang %}
            </span>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </article>
</div>
